#bubbles,
#people,
#people2,
#people3,
#fishes,
#fishes2,
#fishes3,
#nutri1, #nutri2, #nutri3, #carbon, #extra, #zoom, #ice {
    opacity: 0;
    z-index: 45000;
}

.fotnote {
    margin-left: calc(-1 * var(--left-margin));
}