body {
    background-color: #b3ced6;
}

.plot {
    pointer-events: none;
    left: var(--left-margin);
    position: fixed!important;
    top: var(--margin-top-height)!important;
    object-fit: cover!important;
    z-index: 3500;
}

.viz-lake-thick, .viz-lake-break {
    transform-origin: top left;
    pointer-events: all;
    position: relative;
    aspect-ratio: 980 / 560;
    width: var(--max-width-adjusted);
    height: var(--max-height-adjusted);
    transition-timing-function: ease;
    transition: left 1s, width 1s, height 1s, background-color 1s, transform 1s;
}

.viz-lake-break {
    transform: scale(.273) translate(100%, 75%) skew(-60deg, 30deg) !important;
}
.viz-lake-break:hover {
    transform: translate(-10%, 25%) scale(.9)!important;
}

.viz-lake-break:hover .highcharts-background {
    opacity: .9;
}

.viz-lake-break:hover .highcharts-caption {
    opacity: 1;
}
/* plot class that has a hover .viz-lake-break that is hovered, that other .plot will be hidden */
.plot:has(.viz-lake-break:hover) + .plot {
    display: none;
}

.viz-lake-thick {
    transform: scale(.273) translate(30%, 152%) skew(0, 30deg);
}
.viz-lake-thick:hover {
    transform: translate(-10%, 25%) scale(.9);
}
.viz-lake-thick:hover .highcharts-background {
    opacity: .9;
}
.viz-lake-thick:hover .highcharts-caption {
    opacity: 1;
}
.highcharts-container {
    aspect-ratio: 980 / 560;
    width: var(--max-width-adjusted)!important;
    height: var(--max-height-adjusted)!important;
}
.highcharts-background {
    transition: opacity 1s;
    opacity: 0;
}
.highcharts-caption {
    transition: opacity .5s;
    opacity: 0;
}
.highcharts-container * {
    position:fixed;
}
.highcharts-exporting-group {
    visibility: hidden;
}
.tab {
    display: none;
    position: absolute;
}