
html, body *{
	padding:0;
	overflow-x: hidden;
}

body {
	background-color: #508ef2;
}

.window {
	max-height: 1080px;
	max-width: 1920px;
}

.content {
	padding:0;
	position: relative;
	margin: 0;
	display: inline-block;
}



.sections * {
	/*opacity: 0!important;
     */
	position: fixed!important;
	max-height: 100%!important;
	width: auto!important;
	left: 0!important;
	top: 0!important;
	padding: 0!important;
	/*object-position: 0% top!important;

     */
	pointer-events: none;
}

.header {
	position: absolute;
	z-index: 2501!important;
	top: 50vh;
	min-height: 15vh;
	width: 100%;
	background-color: white;
	text-align: center;
}

.segment {
	margin:0;
	padding:0;
}
.title {
	/*
	color: #527cfa;
	 */
	color: #495374;
}
.button {
	background-color: #527cfa;
	border-radius: 28px;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	padding:10px 23px;
}

.menu, .menu * {
	text-align: center;
	font-family: Helvetica;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: .02em;
	color: #eeeeee;
}

.image-block *, .image-block{
	border-bottom: 5px solid blue;
	position: fixed!important;
	height: 100vh!important;
	width: auto!important;
	left: 0!important;
	top: 0!important;
	padding: 0!important;
	margin: 0!important;
	object-position: 0% top!important;
	object-fit: cover!important;
	pointer-events: none;
}
.bottom {
	position: fixed;
	width: 100vw;
	height: calc(1080/3540*60vh);
	bottom: 0;
	left: 0;
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(107, 122, 198,0) 0%, rgba(107, 122, 198,1) 2%, rgba(107, 122, 198,1) 100%);
	z-index: 10000;
}

.right-side {
	position: fixed;
	width: calc(3540/1080*100vh);
	height: 100vh;
	background: #508ef2;
	background: rgb(202, 160, 104);
	background: linear-gradient(90deg, rgba(107, 122, 198,0) 0%, rgba(107, 122, 198,1) 2%, rgba(107, 122, 198,1) 100%);
	z-index: 10000;
	bottom: 0;
	left: 900px;
}
