
html, body *{
}
body {
	background-color: #508ef2;
}

.content {
	position: absolute;
	margin-left: 0;
	margin-right: 0;
}

.segment {
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
	margin-top: 0;
	display: inline-block;
	border: 5px solid red;
}

.sections * {
	/*opacity: 0!important;
     */
	position: fixed!important;
	max-height: 100%!important;
	width: auto!important;
	left: 0!important;
	top: 0!important;
	padding: 0!important;
	/*object-position: 0% top!important;

     */
	pointer-events: none;
}

.captions {
	top: 30vh;
	background-color: rgba(200, 200, 200, 0.6);
	box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}

.captions, .captions * {
	z-index: 2500!important;
	position: relative;
	font-family: Helvetica;
	text-decoration: none;
	max-width: 50vw;
}
.header {
	z-index: 2501!important;
	position: relative;
	top: 50vh;
	margin-left: 10vw;
	text-align: center;
}
.title {
	color: #527cfa;
}
.button {
	background-color: #527cfa;
	border-radius: 28px;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	padding:10px 23px;
}

.menu, .menu * {
	text-align: center;
	font-family: Helvetica;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: .02em;
	color: #eeeeee;
}
