body {
    background-color: #b3ced6;
}

.plot {
    pointer-events: none;
    left: var(--left-margin);
    position: fixed!important;
    top: var(--margin-top-height)!important;
    object-fit: cover!important;
    z-index: 3500;
}

.viz-lake-break {
    pointer-events: all;
    position: relative;
    width: 960px;
    height: 540px;
    transform-origin: top left;
    /*
    transform: skew(0deg,0deg) scale(.273);

     */
    transform: scale(.273) translate(100%, 75%) skew(-60deg, 30deg);
    transition-timing-function: ease;
    transition: left 1s, width 1s, height 1s, background-color 1s, transform 1s;
}
.viz-lake-break:hover {
    transform: translate(-10%, 25%) scale(.9);
}
.viz-lake-break:hover .highcharts-background {
    opacity: .9;
}
/* plot class that has a hover .viz-lake-break that is hovered, that other .plot will be hidden */
.plot:has(.viz-lake-break:hover) + .plot {
    display: none;
}

.viz-lake-thick {
    pointer-events: all;
    position: relative;
    width: 960px;
    height: 540px;
    transform-origin: top left;
    transform: scale(.273) translate(30%, 152%) skew(0, 30deg);
    transition-timing-function: ease;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.viz-lake-thick:hover {
    transform: translate(-10%, 25%) scale(.9);
}
.viz-lake-thick:hover .highcharts-background {
    opacity: .9;
}
.highcharts-background {
    transition: opacity 1s;
    opacity: 0;
}

.highcharts-container  {
    width: fit-content!important;
    height: fit-content!important;
}
.highcharts-container * {
    position:fixed;
}
.highcharts-exporting-group {
    visibility: hidden;
}
.tab {
    display: none;
    position: absolute;
}