
:root {
	--vh-store: 1vh;
	--vw-store: 1vw;
	--vh: var(--vh-store, 1vh);
	--vw: var(--vw-store, 1vw);
	--main-bg-color: example;
	--min-height: 50%;
	--max-height: calc(min(100 * var(--vh), 540px));
	--left-margin: calc((100% - 980px) / 2);
	--left-margin-not-zero: calc(max(var(--left-margin), -1 * var(--left-margin)) / 2 + var(--left-margin)/2);
	--right-side-bottom: calc(100 * var(--vh) - var(--max-height));
	--margin-border-height: calc(0.2 * var(--vh));
	--margin-border-width: calc(0.2 * var(--vw));
}


* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
*::-webkit-scrollbar {
	display: none;
}


body {
	background-color: #508ef2;
}

html, body, body * {
	padding: 0 0 0;
	margin: 0;
	overflow-x: hidden;
}

.window {
	max-height: 1080px;
	max-width: 1920px;
}

.content {
	width: calc(100 * var(--vw));
	max-width: calc(100 * var(--vw));
	position: relative;
	margin: 0;
	left: var(--left-margin-not-zero);
	display: inline-block;
}

@media (orientation: landscape) {

}



.sections {
	background: transparent;
	/*opacity: 0!important;
     */
	position: fixed!important;
	max-height: 100%!important;
	width: auto!important;
	left: 0!important;
	top: 0!important;
	/*object-position: 0% top!important;

     */
	pointer-events: none;
}

.header {
	z-index: 2501!important;
	position: absolute;
}
.fotnote {
	z-index: 25000!important;
	position: relative;
}
.header, .fotnote {
	top: 50vh;
	width: calc(980px);
	max-width: 100vw;
	height: auto;
	max-height: calc(560px * 0.2);
	padding: 1vh 0;
	text-align: center;

	justify-content: center;
	background-color: #eeeeee;
	border-radius: 5px;
	border-style: solid;
	border-width: 0.2vh;
}

.header, .fotnote {
	background-color: #eeeeee;
	border-radius: 5px;
	border-style: solid;
	border-width: 0.2vh;
}

.segment {
	margin:0;
}
.title {
	padding: 0vh 0vw 1vh 0vw;
	/*
	color: #527cfa;
	 */
	color: #495374;
}

.button {
	background-color: #527cfa;
	padding: 1vw 1vh;
	border-radius: 10px;
	border-style: solid;
	border-width: 0.2vh;
	border-color: #111111;
	text-align: center;
	font-size: 1em;
	font-family: Helvetica;
	text-decoration: none;
	font-weight: bold;
	color: #eeffee;
}
.button:hover {
	background-color:#002ead;
	transition: 0.7s;
}

.menu {
	position: relative;
	padding: 2vh 2vw;
}
.menu, .menu * {
	white-space: nowrap;
	position: center;
}

.image-container {
	position: relative;
}
.image-block *, .image-block {
	/*
	border-bottom: 5px solid blue;
	 */
	position: fixed!important;
	height: 100vh!important;
	max-height: var(--max-height);
	width: auto;
	top: 0!important;
	/*

	left: 0!important;
	padding: 0!important;
	margin: 0!important;
	object-position: 0% top!important;
	 */
	object-fit: cover!important;
	pointer-events: none;
}


