

.margin {
    background: #ffffff;
    border-style: solid;
    border-color: var(--border-color);
    position: fixed;
    z-index: 30000;
}


.corner {
    border-width: 0;
    z-index: 29000!important;
}

.bottom {
    border-width: 0.2vw 0 0 0;
    width: calc(var(--max-width-adjusted) - 6 * var(--vw));
    height: calc(100 * var(--vh) - var(--max-height-adjusted) + 100px);
    top: calc(var(--max-height-adjusted) + var(--margin-top-height));
    left: calc(var(--left-margin) + 3 * var(--vw));
    z-index: 29000!important;
}

.credits {
    aspect-ratio: 1 / 1;
    height: auto;
    position: fixed;
    z-index: 400000!important;
    right: 0;
    bottom: 0;
    padding-right: 1vw;
    padding-bottom: 1vh;
    text-align: right;
    border-radius: 50%;
    border-width: 0.1vw;
    border-style: solid;
    border-color: #333333;
}
.credits * {
    opacity: 0;
    transition-timing-function: ease;
    transition: left 1s, width 1s, height 1s, background-color 1s, transform 1s;
    transform: scale(.1);
}
.credits a {
    text-decoration: none;
    text-decoration-color: #333333;
}
.credits:hover {
    transform: scale(1);
}

.right-side {
    border-width: 0 0 0 0.2vw;
    background-blend-mode: darken, luminosity;
    width: calc(2 * (100 * var(--vw) - var(--max-width-adjusted) + 3 * var(--vw) - var(--left-margin)));
    height: calc(var(--max-height-adjusted) + 2 * var(--margin-border-height));
    left: calc(var(--max-width-adjusted) + calc(var(--left-margin) - 3 * var(--vw)));
    top: var(--margin-top-height);
}
.bottom-right {
    border-color: var(--border-color);
    width: 100%;
    height: calc(100 * var(--vh) - var(--max-height-adjusted) + 100px);
    top: calc(var(--max-height-adjusted) + var(--margin-top-height));
    bottom: 0;
    left: calc(var(--max-width-adjusted) + calc(var(--left-margin) - 3 * var(--vw)));
}



.left-side {
    border-width: 0 0.2vw 0 0;
    background-blend-mode: darken, luminosity;
    width: calc(var(--left-margin) + 3 * var(--vw));
    height: calc(var(--max-height-adjusted) + 2 * var(--margin-border-height));
    left: 0;
    top: var(--margin-top-height);
}
.bottom-left {
    width: calc(var(--left-margin) + 3 * var(--vw));
    height: calc(100 * var(--vh) - var(--max-height-adjusted) + 100px);
    left: 0;
    border-width: 0.2vw 0 0 0;
    top: calc(var(--max-height-adjusted) + var(--margin-top-height));
}
.top-right {
    top: 0;
    left: calc(var(--max-width-adjusted) + calc(var(--left-margin) - 3 * var(--vw)));
    height: var(--margin-top-height);
    width: 100%;
}
.top-left {
    height: var(--margin-top-height);
    width: calc(var(--left-margin-not-zero) + 3 * var(--vw));
    top: 0;

    border-width: 0 0 0.2vw 0;

}
.top {
    z-index: 29000!important;
    border-width: 0 0 0.2vw 0;
    height: var(--margin-top-height);
    width: calc(var(--max-width-adjusted) - 6 * var(--vw));
    max-width: calc(100 * var(--vw));
    top: 0;
    left: calc(var(--left-margin-not-zero) + 3 * var(--vw));
}

