

.margin {
    background: #ffffff;
    border-style: solid;
    border-color: #111111;
    position: fixed;
    z-index: 30000;
}


.corner {
    border-width: 0;
    z-index: 30010!important;
}

.bottom {
    border-width: 0.2vh 0 0 0;
    width: calc(var(--max-width-adjusted) - 6 * var(--vw));
    height: calc(100 * var(--vh) - var(--max-height-adjusted) + 100px);
    top: calc(var(--max-height-adjusted) + var(--margin-top-height));
    left: calc(var(--left-margin) + 3 * var(--vw));
    z-index: 30020!important;
}

.credits {
    padding-left: calc(var(--max-width-adjusted)/2);
    padding-top: calc(3 * var(--vh));
    max-width: calc(var(--max-width-adjusted) / 2);
    left: calc(var(--left-margin) + var(--max-width-adjusted)/2);
    text-align: right;

}
.credits a {
    text-decoration: none;
    text-decoration-color: #333333;

}

.right-side {
    border-width: 0 0 0 0.2vw;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: var(--max-height-adjusted);
    max-height: calc(100% - (100% - var(--max-height)));
    bottom: var(--right-side-bottom);
    left: calc(var(--max-width-adjusted) + calc(var(--left-margin) - 3 * var(--vw)));
    top: var(--margin-top-height);
}
.bottom-right {
    border-color: #eeeeee;
    width: 100%;
    height: calc(100 * var(--vh) - var(--max-height-adjusted) + 100px);

    top: calc(var(--max-height-adjusted) + var(--margin-top-height));
    bottom: 0;
    left: calc(var(--max-width-adjusted) + calc(var(--left-margin) - 3 * var(--vw)));
}



.left-side {
    border-width: 0 0.2vw 0 0;
    background-blend-mode: darken, luminosity;
    width: calc(var(--left-margin) + 3 * var(--vw));
    height: var(--max-height-adjusted);
    bottom: calc(100* var(--vh) - var(--max-height));
    left: 0;
    top: var(--margin-top-height);
}
.bottom-left {
    width: calc(var(--left-margin) + 3 * var(--vw));
    height: calc(100 * var(--vh) - var(--max-height-adjusted)*0.75);
    bottom: 0;
    left: 0;
}
.top-right {
    top: 0;
    left: calc(var(--max-width-adjusted) + calc(var(--left-margin) - 3 * var(--vw)));
    height: var(--margin-top-height);
    width: 100%;
}
.top-left {
    height: var(--margin-top-height);
    width: calc(var(--left-margin-not-zero) + 3 * var(--vw));
    top: 0;
}
.top {
    border-width: 0 0 0.2vw 0;
    height: var(--margin-top-height);
    width: calc(var(--max-width-adjusted) - 6 * var(--vw));
    max-width: calc(100 * var(--vw));
    top: 0;
    left: calc(var(--left-margin-not-zero) + 3 * var(--vw));
}

