.header {
    position: absolute;
}
.fotnote {
    position: relative;
}
.header {
    z-index: 29000!important;
    overflow: hidden;
    top: calc(50 * var(--vh));
    width: calc(100 * var(--vw));
    margin-left: calc(-1 * var(--left-margin));
    max-width: 100vw;
    height: auto;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-width: var(--border-width) 0 var(--border-width) 0;
}
.fotnote {
    top: calc(var(--margin-top-height) + var(--max-height-adjusted) * 0.5);
    margin: auto;
    z-index: 50000!important;
    overflow: hidden;
    background-color: white;
    border-radius: 1vmin;
    border-style: solid;
    height: max-content;
    width: max-content;
    border-width: var(--border-width);
}
.button {
    background-color: #527cfa;
    padding: .5em;
    border-radius: 1vmin;
    border-style: solid;
    border-width: var(--border-width);
    border-color: #111111;
    text-align: center;
    font-size: 1.5vb;
    font-family: Helvetica;
    text-decoration: none;
    font-weight: bold;
    color: #eeffee;
}
.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}
.menu {
    position: relative;
    padding: 2vmin;
}
.menu, .menu * {
    white-space: nowrap;
}