

.segment left {
    left: 10px;
}

.captions {
    z-index: 50000!important;
    position: sticky;
    left: 1vw;
    padding-top: calc(var(--margin-top-height) + var(--max-height-adjusted) / 2);
    pointer-events: none;
}



.caption {
    padding: 10px;
}
.caption-left  {
    float: left;
    margin-left: calc(-.5 * var(--left-margin-not-zero));
    margin-right: calc(.5 * var(--left-margin-not-zero));
    width: 50%;
    max-width: calc(980px / 2);
}
.caption-right{
    float: right;
    margin-right: calc(-.5 * var(--left-margin-not-zero));
    margin-left: calc(.5 * var(--left-margin-not-zero));
    width: 50%;
    max-width: calc(980px / 2);
}

/*
.credit, .redirect {
    z-index: 5000!important;
    position: relative;
    top: 35%;
    left: 5%;
    margin: -50px 0 0 -50px;
}
 */

.segment p{
    font-size: 1.7vb;
    padding: 1em;
    background: #eeffee;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.2vw;
    color: #333333;
}

/* Speach bouble Quote */
.segment p:before{
    font-family: Vemana2000;
    font-weight: bold;
    left: 20px;
    top: 5px;
    overflow: hidden;
}

/* Speech bouble triangle */
/*
p:after{
    content: ' ';
    border: 10px solid;
    border-color: grey transparent transparent orange;
    position: absolute;
    bottom: -20px;
    left: 30px;
}

 */

