

.segment {
    /* TODO set to 2500 between */
    z-index: 5000!important;
    height: 100vh;
    width: 100vw;
    top: 50%;
    padding: 0px;
}

.captions {
    z-index: 5000!important;
    position: sticky;
    top: 35%;
    margin: 0;
}



.caption {
    max-width: 50%;
    padding: 10px;
    margin: 0;
}

/*
.credit, .redirect {
    z-index: 5000!important;
    position: relative;
    top: 35%;
    left: 5%;
    margin: -50px 0 0 -50px;
}
 */

p{

    font-size: 1em;
    /*
    position: relative;

    position: fixed;

     */
    padding: 1vh;
    /*
    background: rgba(202, 160, 104, 0.9);
     */
    background: #eeffee;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.2vw;
    color: #333333;
}

/* Speach bouble Quote */
p:before{
   /*
    content: "\201C"; /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Vemana2000;
    font-weight: bold;
    /*Positioning*/
    /*
    position: absolute;

     */
    left: 20px;
    top: 5px;
    overflow: hidden;
}

/* Speech bouble triangle */
/*
p:after{
    content: ' ';
    border: 10px solid;
    border-color: grey transparent transparent orange;
    position: absolute;
    bottom: -20px;
    left: 30px;
}

 */
