.ground-back {
    z-index: 2999;
}
.ground {
    z-index: 3000;
}
.ground-front {
     z-index: 3001;
 }
.plots, .plots * {
    z-index: 3500;
}

.detail-back {
    z-index: 1999;
}
.detail {
    z-index: 2000;
}
.detail-front {
    z-index: 2001;
}
.background-back{
    z-index: 999;
}
.background{
    z-index: 1000;
}
.background-front{
    z-index: 1001;
}
.cloud {
    z-index: 1;
}