
<div class="bottom margin">
</div>
<div class="right-side margin"></div>
<div class="bottom-right margin corner"></div>
<div class="left-side margin"></div>
<div class="bottom-left margin corner"></div>
<div class="top margin"></div>
<div class="top-left margin corner"></div>
<div class="top-right margin corner"></div>



<div class="credits">
    <div class="credits-title">
        <h3>Credits</h3>
    </div>
    <div class="credits-content">
        <p>
        <p>Artist and Artistic Director</p>
        <a href="https://www.linkedin.com/in/h%C3%A9l%C3%A8ne-bocquet-2801a1187/">Hélène Bocquet</a>
        </p>
        <br>
        <p>
        <p>Developer</p>
        <a href="https://github.com/nicklassundin">Nicklas Sundin Johansson</a>
        </p>
        <br>
        <p>
        <p>Sound Design</p>
        <a href="https://www.timbishopartist.com">Tim Bishop</a><br>
        <a href="http://www.iac.lu.se/tim-bishop/">Lund University Page</a>
        </p>
        <br>
        <p>
            Art project part of <a href="www.vizchange.net">Vizchange</a>
        </p>
    </div>
</div>