<!-- extends default--><!DOCTYPE html>
<html>
    {{> head this}}
	<body>
    {{> script this}}
    {{#each acts}}
        <div class="content" id={{this.id}}>
            {{#each this.scens}}
                <div id={{this.id}} class="segment">
                    {{> github_segment parameters=this}}
                </div>
            {{/each}}
            {{#each this.resources}}
                <div>
                    {{> github_resources parameters=this }}
                </div>
            {{/each}}
        </div>
        {{#if next.redirect includeZero=true}}
            <div class="segment">
                <div class="fotnote">
                    <div class="menu">
                        {{#each next.redirect}}
                            <a class="button" href="/vizchange-animation{{this.href}}">{{this.text}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
    {{> margin}}
	</body>
</html>
