<!-- extends default--><!DOCTYPE html>
<html>
    {{> head}}
	<body>
    {{> script this}}
    {{#each acts}}
        <div class="content" id={{this.id}}>
            {{#each this.scens}}
                <div id={{this.id}} class="segment">
                    {{> segment parameters=this}}
                </div>
            {{/each}}
            {{#each this.resources}}
                <div>
                    {{> github_resources parameters=this }}
                </div>
            {{/each}}
        </div>
    {{/each}}
    <div class="content" id="credit">
        <div class="segment">
            <div class="captions">
                <div class="caption">
                    <p>TODO Credit</p>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="content" id="end-div">
        <div id="end-segment" class="segment">
            <div class="captions">
                <div class="caption">
                    END
                </div>
            </div>
        </div>
   </div>
   -->
    {{> margin}}
	</body>
</html>
