<!-- extends default--><!DOCTYPE html>
<html>
    {{> head}}
	<body>
    <div class="content" id="story">
        {{#each segments}}
            <div id={{this.id}} class="segment">
                {{> segment parameters=this}}
            </div>
        {{/each}}
        {{#each resources}}
            <div>
                {{> github_resources parameters=this }}
            </div>
        {{/each}}
    </div>
    {{> margin}}
	</body>
</html>
